@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<KargoDetay>
@{
    ViewBag.Title = "KargoTakip";
    Layout = "~/Views/Shared/_CariLayout.cshtml";
}

<br />
@using (Html.BeginForm("KargoTakip", "CariPanel", FormMethod.Get))
{
    <p>
        Kargo Takip Numarası: @Html.TextBox("p")
        <input type="submit" value="Ara" />
    </p>
}
<table class="table table-bordered" style="margin-top:20px">

    <tr>
        <th>Personel</th>
        <th>Alıcı</th>
        <th>Takip Kodu</th>
        <th>Tarih</th>
        <th>Detaylar</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.Personel</td>
            <td>@x.Alici</td>
            <td>@x.TakipKodu</td>
            <td>@Convert.ToDateTime(x.Tarih).ToString("dd/MM/yyy")</td>
            <td><a href="/CariPanel/CariKargoTakip/@x.TakipKodu" class="btn btn-danger">Detaylar</a></td>
        </tr>
    }
</table>

